<!-- HEADER -->
<%- include('header') %>

<div class="container">
    <h2>Admin Vagas: <a href="/admin/vagas/nova">Nova Vaga</a> </h2>
    <div class="content">
        <ul>
            <% vagas.forEach( vaga => { %>
            <li>
                <%- vaga.titulo %>
              <div>
                <a href="/admin/vagas/delete/<%-vaga.id %>" class="excluir">Excluir</a>
                <a href="/admin/vagas/editar/<%-vaga.id %>" class="editar">Editar</a>
              </div>
            </li>
            <% })%>
        </ul>
    </div>

</div> <!-- FIM CONTAINER-->


<!--  FOOTER -->
<%- include('footer') %>